<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzx.musiclibrary">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application>
        <service
            android:name="com.lzx.musiclibrary.MusicService"
             />

    </application>

</manifest>
